@import 'colors';
@import 'typography';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  @include font-primary();
  background: $midnight;
  color: $white;
  margin: 0;
}

a {
  color: $party-girl;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-accent();
}
