.nav {
  text-align: center;
  overflow: auto;
  border-top: 5px solid $color-party-girl;

  &__title {
    color: $color-party-girl;
  }

  ul {
    @include flex-container();
    list-style: none;
    padding: 0;

    li {
      @include breakpoint() {
        display: inline-block;
        padding: 1em 0.5em;
      }

      a {
        @include font-accent();
        display: block;
        color: $color-white;
        text-transform: uppercase;
        padding: 0.5em 1em;
      }
    }
  }
}
